<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <!-- 2, Listaelemre klikk esetén a (selectedRecipe)
    event bekapcsolja az onSelectedRecipe metódust,
    ami átadja a megklikkelt listaelem osztálypéldányát
    a recept adataival az onSelectedRecipe metódusnak,
    amiből kiadásra kerül this.recipeWasSelected.emit(recipe)
    a recipes komponensnek.
    a -->
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
      (selectedRecipe)="onSelectedRecipe(recipeEl)"
    ></app-recipe-item>
  </div>
</div>
